<h1>Verifica Maioridade {{error}}</h1>
<form action="/check" method="post">
  <label for="age">Informe o Idade: </label>
  <input name="age">
  </br>
  <label for="peso">Informe o Peso: </label>
  <input name="peso">
  <button type="submit">Enviar</button>
</form>
